
body{
    font-family: Arial,Tahoma;
    font-size: 12px;
}
#main{
    width: 1000px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#head{
    height: 50px;
    background-color: #f5f5f5;
}
#head-link{
    height: 200px;
    background-color:darkslategray;
}

#content{
    width: 1000px;
    background-color: #cdcdcd;
    min-height: 400px;
    
}

#doan1h{
    padding-left: 30px;
    padding-top: 20px;
    font-size: 11px;
    color: dodgerblue;
}
#doan2h{
    font-size: 30px;
    padding-left: 30px;
    color: white;
}
#doan3h{
    line-height: 0px;
    font-size: 11px;
    padding-left: 30px;
    color: white;
}
#doan4h{
    padding-left: 30px;
    color: white;

}
#hinh1{
    width: 20px;
}
#hinh2{
    width: 15px;
}

#right{
    width: 270px;
    height: 500px;
    border: 1px solid #cdcdcd;
    float: right;
    background-color: white;
    margin-right: 40px;
    margin-top: 40px;
}
#doan1hl{
    padding-left: 10px;
    padding-top: 15px;
}
#hl1{
    font-size: 15px;
    text-align: center;
    color: white;
    background-color: red;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 15px;
    border-radius: 10px;
}
#hl2{
    font-size: 15px;
    text-align: center;
    margin-top : 5px;
    color: white;
    background-color: green;
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    border-radius: 10px;
}


ul{
    list-style: none;
    line-height: 30px;
    font-size: 12px;
    background-color: white;
    padding: 0;
    margin: 0;
    float:right;
}

ul::after{
    content: " ";
    clear:both;
    display: table;
}

ul li{
    display: block;
    float: left;
    position: relative;
    background-color: white;
}

ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: black;
}

ul li a:hover{
    background-color: lightsalmon;
}

li ul{
    display: none;
}
li:hover > ul{
    display: block;
    position: absolute;
    background-color: white;
    color: blueviolet;

}